
.mat-card-title {
  font-size: 1.5rem;
  color: #3f51b5;
  text-align: center;
}

.full-width-table {
  width: 100%;
  overflow: auto;
}

.mat-elevation-z8 {
  padding: 16px;
}

.status-active {
  color: #388e3c;
  /* Green for active status */
}

.status-inactive {
  color: #d32f2f;
  /* Red for inactive status */
}

.titulo {
  font-family: "Kanit", sans-serif;
  padding: 16px;
}

.font-elemento {
  font-family: "Courier Prime", monospace;
  font-weight: 500;
  font-style: normal;
}

.font-cabecera {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
