<mat-card>
<mat-card-title class="titulo">Pedidos</mat-card-title>
    <div class="mat-elevation-z8">

      <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

        <!-- Columns Definition -->
        <ng-container matColumnDef="idpedido">
          <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
          <td class="font-test" mat-cell *matCellDef="let pedido" > {{pedido.idpedido}}
          </td>
        </ng-container>

        <ng-container matColumnDef="idcotizacion">
          <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Pedido </th>
          <td class="font-test" mat-cell *matCellDef="let pedido" >
            {{pedido.idcotizacion}} </td>
        </ng-container>

        <ng-container matColumnDef="idcliente">
          <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> idCliente </th>
          <td class="font-test" mat-cell *matCellDef="let pedido" > {{pedido.idcliente}}
          </td>
        </ng-container>

        <ng-container matColumnDef="metodopago">
          <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Metodo pago </th>
          <td class="font-test" mat-cell *matCellDef="let pedido" >
            {{pedido.metodopago}} </td>
        </ng-container>

        <ng-container matColumnDef="estadoenvio">
          <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Estado Envio </th>
          <td class="font-test" mat-cell *matCellDef="let pedido" > {{pedido.estadoenvio}}
          </td>
        </ng-container>

        <ng-container matColumnDef="idempleado">
          <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Codigo empleado </th>
          <td class="font-test" mat-cell *matCellDef="let pedido" > {{pedido.idempleado}}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaentrega">
          <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de entrega</th>
          <td class="font-test" mat-cell *matCellDef="let pedido">
            {{pedido.fechaentrega | date: 'dd/MM/yyyy' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaemision">
          <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de emision </th>
          <td class="font-test" mat-cell *matCellDef="let pedido" >
            {{pedido.fechaemision | date: 'dd/MM/yyyy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th class="font-cabecera" mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let factura">
            <button mat-icon-button color="primary">
              <mat-icon>view_list</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>