

.mat-card-title {
  font-size: 1.5rem;
  color: #3f51b5;
  text-align: center;
}

.responsive-table-container {
  width: 100%;
  overflow-x: auto;
}



.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.full-width-table {
  width: 100%;
  overflow: auto;
}

.mat-elevation-z8 {
  padding: 16px;
}

mat-icon {
  font-size: 1em;
}

.titulo {
  font-family: "Kanit", sans-serif;
  padding: 16px;
}

.font-test {
  font-family: "Courier Prime", monospace;
  font-weight: 500;
  font-style: normal;
}

.font-cabecera {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
