<mat-card class="product-form-card">
  <mat-card-title>Generar Factura Venta</mat-card-title>
  <form [formGroup]="facturaForm" (ngSubmit)="onSubmit()" class="product-form-grid">
    <mat-form-field appearance="fill">
      <mat-label>Codigo Factura</mat-label>
      <input matInput formControlName="facturaCodigo">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Codigo Pedido</mat-label>
      <input matInput formControlName="pedidoCodigo">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado Pago</mat-label>
      <mat-select formControlName="estadoPago">
        <mat-option *ngFor="let estado of estados" [value]="estado">
          {{estado}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Fecha Limite</mat-label>
      <input matInput [matDatepicker]="deadlinePicker" formControlName="fechaLimite" />
      <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
      <mat-datepicker #deadlinePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha Pago</mat-label>
      <input matInput [matDatepicker]="paymentDatePicker" formControlName="fechaPago" />
      <mat-datepicker-toggle matSuffix [for]="paymentDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #paymentDatePicker></mat-datepicker>
    </mat-form-field>


  </form>
  <div class="action-buttons">
    <button mat-raised-button color="primary" (click)="onSave()">Guardar todo</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
  </div>
</mat-card>